
*{
    padding: 0;
    margin: 0;
}
.App{
    background-color: #000;
      background-image: url('../public/img/line.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    
}